Package: com.soup.timechanger
Name: TimeChanger
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Sam Laister
Author: Sam Laister
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader (>= 2.2.3)
Version: 0.0.1-6+debug
Installed-Size: 392
