Package: com.soup.bigbadges
Name: bigbadges
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Sam Laister
Author: Sam Laister
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
